<div class="content">
  <h2 class="content-title">
    Как увеличить (продлить) срок действия Договора о предоставлении микрокредита? 
  </h2>
  <p>
    С Zaimem.kz возможно увеличить (продлить) срок действия Договора о предоставлении микрокредита, если Вы не укладываетесь в изначально выбранный Вами срок. Услуга доступна за 4 дня до истечения срока микрокредита. <br>
    Вам только нужно: <br>
    1. Оплатить сумму вознаграждения, согласно текущим условиям Договора о предоставлении микрокредита. <br>
    2. Заключить дополнительное соглашение с МФО. <br><br>
    Ваш микрокредит автоматически продлевается на аналогичный срок, как в действующем Договоре о предоставлении микрокредита, таким образом, Вы избежите начисления неустойки (штрафа, пени) за нарушение обязательств и роста вознаграждения по Договору о предоставлении микрокредита и сохраните Вашу кредитную историю. Однако, в случае если Вами нарушен срок исполнения обязательства по возврату суммы микрокредита и вознаграждения за пользование микрокредитом, то для увеличения (продления) срока действия Договора о предоставлении микрокредита на аналогичный срок, Вам нужно:  <br>
    1. Оплатить сумму вознаграждения, согласно текущим условиям Договора о предоставлении микрокредита.  <br>
    2. Оплатить неустойку (штраф, пеню) в полном объеме. <br>
    3. Заключить дополнительное соглашение с МФО. <br><br>
    Вы можете воспользоваться увеличением (продлением) срока действия Договора о предоставлении микрокредита, определенное количество раз. Доступность опции определяется автоматизированной скоринговой системой МФО.
  </p>
</div>