form {
  max-width: 400px;
  margin: 0 auto;
}

.label-input {
  margin-bottom: 20px;
  label {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 22px;
    display: block;
    margin-bottom: 5px;
    i {
      color: red;
    }
  }
  input {
    width: 100%;
    border: 1px solid #42A8FA;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px;
    font-size: 18px;
  }
}

.label-checkbox{
  margin-bottom: 20px;
  label{
    display: flex;
    span{
      font-size: 14px;
      // line-height: 24px;
      letter-spacing: -0.3px;
      color: rgba(4, 4, 21, 0.6);
    }
  }
}

.form-top{
  text-align: center;
  h2{
    font-weight: bold;
    font-size: 33px;
    line-height: 43px;
    margin-bottom: 20px;
  }
  a.link{
    font-size: 24px;
    color: #42A8FA;
    margin-bottom: 30px;
    display: inline-flex;
  }
}

.btn{
  background: #42A8FA;
  width: 100%;
  border:none;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  height: 52px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 30px 0;
}