@import url(normalize.scss);

body, button, input, textarea, select{
  font-family: 'Inter', sans-serif;
}

body{
  color: #000000;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
}

h1{
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

.content-title{
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 43px;
}

form button:active{
  opacity: .7;
}

body{
  .toast {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: relative;
    background-color: #030303;
  }

  .toast-success {
    background-color: #2EC764;
  }

  .toast-error {
    background-color: #FF6382;
  }

  .toast-info {
    background-color: #2f96b4;
  }

  .toast-wait {
    background-color: #2f96b4;
  }

  .toast-warning {
    background-color: #f89406;
  }
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.62);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
  .modal-content {
    width: 100%;
    max-width: 500px;
    position: relative;
    .modal-close{
      position: absolute;
      right: 15px;
      top:15px;
      cursor: pointer;
    }
  }
}


.profile-page{
  form {
    max-width: 400px;
    margin: 0 auto;
  }

  .label-input {
    margin-bottom: 20px;
    label {
      color: rgba(0, 0, 0, 0.6);
      font-size: 16px;
      line-height: 22px;
      display: block;
      margin-bottom: 5px;
      kbd {
        color: #A0A5AB;
        font-size: 15px;
        line-height: 169%;
      }
      &.disabled{
        opacity: 0.4;
      }
      i {
        color: red;
      }
    }
    input, textarea, select {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 6px;
      padding: 15px;
      font-size: 18px;
      letter-spacing: 1px;
      &:disabled{
        opacity: 0.4;
      }
    }
  }

  .label-checkbox{
    margin-bottom: 20px;
    input{
      margin: 4px 0;
      margin-right: 12px;
    }
    label{
      display: flex;
      span{
        font-size: 14px;
        // line-height: 24px;
        letter-spacing: -0.3px;
        color: rgba(4, 4, 21, 0.6);
      }
    }
  }

  .form-top{
    text-align: center;
    h2{
      font-weight: bold;
      font-size: 30px;
      line-height: 43px;
      margin-bottom: 20px;
    }
    .link{
      font-size: 24px;
      color: #42A8FA;
      margin-bottom: 30px;
      display: inline-flex;
    }
  }

  .btn{
    background: #42A8FA;
    width: 100%;
    border:none;
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 30px 0;
  }
}

.mobile{
  display: none;
}

.label-toggle {
  display: flex;
  gap: 10px;
  align-items: center;
  label {
  }
}

.label-toggle label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.label-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.label-toggle label span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 12px;
}

.label-toggle label span:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.label-toggle label input:checked + span {
  background: #42A8FA;
}

.label-toggle label input:checked + span:before {
  transform: translateX(16px);
}

.label-toggle p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  flex:1;
  line-height: 26px;
  letter-spacing: -0.355556px;
  font-weight: 600;
}

.label-toggle {
  margin-bottom: 20px;
}

@media (max-width: 600px){
  .overflow-table{
    overflow: auto;
    margin-right: -20px;
  }
  .content-title{
    font-size: 20px;
  }
  .mobile{
    display: block;
  }
  .desctop{
    display: none !important;
  }
  h1{
    font-size: 26px;
    font-weight: 600;
  }
  body{
    font-size: 16px;
  }
  .profile-page {
    .form-top {
      h2{
        font-size: 24px !important;
        font-weight: 600;
      }
    }
  }
}