<div class="profile-page">
  <form ngNativeValidate (ngSubmit)="submitForm()">
    <div class="form-top">
      <h2>Смена пароля</h2>
    </div>
    <div class="label-input">
      <label for="">Старый пароль</label>
      <input type="password" name="password" required [(ngModel)]="passwordForm.oldPassword">
    </div>
    <div class="label-input">
      <label for="">Новый пароль</label>
      <input type="password" name="password" required [(ngModel)]="passwordForm.newPassword">
    </div>
    <div class="label-input">
      <label for="">Укажите новый пароль ещё раз</label>
      <input type="password" name="password" required [(ngModel)]="passwordForm.password">
    </div>  
    <button class="btn" type="submit">Сохранить</button>
  </form>
</div>