<ng-container *transloco="let text; read:'change-password'">
  <div class="profile-page">
    <form ngNativeValidate (ngSubmit)="submitForm()">
      <div class="form-top">
        <h2>{{text('change')}}</h2>
      </div>
      <div class="label-input">
        <label for="">{{text('old')}}</label>
        <input type="password" name="password" required [(ngModel)]="passwordForm.oldPassword">
      </div>
      <div class="label-input">
        <label for="">{{text('new')}}</label>
        <input type="password" name="password" required [(ngModel)]="passwordForm.newPassword">
      </div>
      <div class="label-input">
        <label for="">{{text('again')}}</label>
        <input type="password" name="password" required [(ngModel)]="passwordForm.password">
      </div>
      <button class="btn" type="submit">{{text('save')}}</button>
    </form>
  </div>
</ng-container>
