<ng-container *transloco="let text; read:'settings'">
  <div class="content profile-page">
    <h2 class="content-title">{{text('setprof')}}</h2>

    <form ngNativeValidate (ngSubmit)="updateData()">
      <div class="form-top">
        <h2>{{text('data')}}</h2>
      </div>

      <div class="label-input">
        <label for="">{{text('last')}}</label>
        <input type="text" name="lastName" disabled [ngModel]="data.passportInfoDto.lastName">
      </div>

      <div class="label-input">
        <label for="">{{text('name')}}</label>
        <input type="text" name="firstName" disabled [ngModel]="data.passportInfoDto.firstName">
      </div>

      <div class="label-input">
        <label for="">{{text('dad')}}</label>
        <input type="text" name="patronymic" disabled [ngModel]="data.passportInfoDto.patronymic">
      </div>

      <div class="label-input">
        <label for="">{{text('date')}}</label>
        <input type="text" name="birthDate" disabled [ngModel]="data.passportInfoDto.birthDate">
      </div>

      <div class="label-input">
        <label for="">{{text('number')}}</label>
        <input type="text" name="nationalIdNumber" [(ngModel)]="data.passportInfoDto.nationalIdNumber">
      </div>

      <div class="label-input">
        <label for="">{{text('national')}}</label>
        <input type="text" name="nationality" [(ngModel)]="data.passportInfoDto.nationality">
      </div>

      <div class="label-input">
        <label>{{text('whom')}}</label>
        <select name="nationalIdIssuer" required [(ngModel)]="data.passportInfoDto.nationalIdIssuer">
          <option value="МИНИСТЕРСТВО ВНУТРЕННИХ ДЕЛ РК">{{text('mvd')}}</option>
          <option value="Министерства юстиции Республики Казахстан">{{text('mu')}}</option>
        </select>
      </div>

      <div class="label-input">
        <label>{{text('datea')}}</label>
        <input type="date" name="nationalIdIssueDate" [(ngModel)]="data.passportInfoDto.nationalIdIssueDate">
      </div>

      <div class="label-input">
        <label for="">{{text('dateb')}}</label>
        <input type="date" name="nationalIdValidDate" [(ngModel)]="data.passportInfoDto.nationalIdValidDate">
      </div>

      <div class="form-top">
        <h2>{{text('addresData')}}</h2>
      </div>

      <div class="label-input">
        <label>{{text('state')}}</label>
        <select required name="region" [(ngModel)]="data.addressInfoDto.region" (ngModelChange)="getDistrictById()">
          <option [value]="">{{text('select')}}</option>
          <option *ngFor="let item of districts" value="{{item.code}}">{{ item.name_ru }}</option>
        </select>
      </div>
      <div class="label-input">
        <label [class.disabled]="!cities">{{text('city')}}</label>
        <select required name="city" [(ngModel)]="data.addressInfoDto.city" [disabled]="!cities">
          <option [value]="">{{text('select')}}</option>
          <option *ngFor="let item of cities" [ngValue]="item.name_ru">{{ item.name_ru }}</option>
        </select>
      </div>

      <!-- <div class="label-input">
        <label>Индекс</label>
        <input type="text" required name="postalCode" [(ngModel)]="data.addressInfoDto.postalCode">
      </div> -->

      <div class="label-input">
        <label>{{text('street')}}</label>
        <input type="text" required name="street" [(ngModel)]="data.addressInfoDto.street">
      </div>

      <div class="half-form">
        <div class="label-input">
          <label>{{text('home-num')}}</label>
          <input type="text" required name="house" [(ngModel)]="data.addressInfoDto.house">
        </div>

        <div class="label-input">
          <label>{{text('kv')}}</label>
          <input type="text" required name="apartment" [(ngModel)]="data.addressInfoDto.apartment">
        </div>
      </div>


      <div class="label-input">
        <label>{{text('adrprocheck')}}</label>
        <select required [(ngModel)]="data.addressInfoDto.periodOfResidence" name="periodOfResidence">
          <option value="">{{text('select')}}</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7+</option>
        </select>
      </div>

      <div class="form-top">
        <h2>{{text('infojob')}}</h2>
      </div>

      <div class="label-input">
        <label>{{text('edu')}}</label>
        <select name="education" [(ngModel)]="data.jobDetailsDto.education">
          <option value="">{{text('choose')}}</option>
          <option value="Среднее">{{text('mid')}}</option>
          <option value="Среднее специальное">{{text('midss')}}</option>
          <option value="Незаконченное высшее">{{text('nohigh')}}</option>
          <option value="Высшее">{{text('high')}}</option>
          <option value="Магистратура, 2-ое высшее, Ученая степень и пр">{{text('magistr')}}</option>
        </select>
      </div>

      <div class="label-input">
        <label>{{text('zanyat')}}</label>
        <select name="typeOfWork" [(ngModel)]="data.jobDetailsDto.typeOfWork">
          <option value="">{{text('choose')}}</option>
          <option value="Сотрудник компании">{{text('empoylee')}}</option>
          <option value="Индивидуальный предприниматель">{{text('indemp')}}</option>
          <option value="Безработный">{{text('jobless')}}</option>
          <option value="Студент">{{text('student')}}</option>
          <option value="Пенсионер">{{text('pensioner')}}</option>
          <option value="Владелец компании">{{text('boss')}}</option>
          <option value="Пенсионер (сотрудник компании)">{{text('penemp')}}</option>
          <option value="Пенсионер (индивидуальный предприниматель)">{{text('penindemp')}}</option>
          <option value="В декретном отпуске">{{text('mate')}}</option>
        </select>
      </div>

      <div class="label-input">
        <label>{{text('vid')}}</label>
        <select name="employment" [(ngModel)]="data.jobDetailsDto.employment">
          <option value="">{{text('choose')}}</option>
          <option value="Информационные технологии/телекоммуникации">{{text('info')}}</option>
          <option value="Финансы, банки, страхование, консалтинг">{{text('finance')}}</option>
          <option value="ТЭК">{{text('tek')}}</option>
          <option value="Сервис и Услуги">{{text('service')}}</option>
          <option value="Армия">{{text('army')}}</option>
          <option value="Охранная деятельность">{{text('security')}}</option>
          <option value="Добывающий сектор">{{text('sector')}}</option>
          <option value="Культура и искусство">{{text('culture')}}</option>
          <option value="Медицина">{{text('medicine')}}</option>
          <option value="Наука и Образование">{{text('science')}}</option>
          <option value="Государственная служба">{{text('gos-service')}}</option>
          <option value="Торговля">{{text('trade')}}</option>
          <option value="Промышленность">{{text('industry')}}</option>
          <option value="Строительство и недвижимость">{{text('building')}}</option>
          <option value="Транспорт">{{text('transport')}}</option>
          <option value="Другое">{{text('other')}}</option>
        </select>
      </div>

      <div class="label-input">
        <label>{{text('post')}}</label>
        <input type="text" name="workPosition" [(ngModel)]="data.jobDetailsDto.workPosition">
      </div>

      <div class="label-input">
        <label>{{text('name-organization')}}</label>
        <input type="text" name="employer" [(ngModel)]="data.jobDetailsDto.employer">
      </div>
      <!--
      <div class="label-input">
        <label>Рабочий телефон</label>
        <input type="tel" required name="workPhoneNum" [(ngModel)]="data.jobDetailsDto.workPhoneNum">
      </div> -->


      <!-- <div class="label-input">
        <label>Опыт работы</label>
        <input type="number" name="workExperience" [(ngModel)]="data.jobDetailsDto.workExperience">
      </div> -->

      <div class="label-input">
        <label>{{text('month-income')}}</label>
        <input type="tel" name="monthlyIncome" [unmask]="true" [(ngModel)]="data.jobDetailsDto.monthlyIncome" [imask]="priceMask">
      </div>

      <div class="label-input">
        <label>{{text('month-extra-income')}}</label>
        <input type="tel" name="additionalMonthlyIncome" [unmask]="true" [(ngModel)]="data.jobDetailsDto.additionalMonthlyIncome" [imask]="priceMask">
      </div>

      <div class="label-input">
        <label>{{text('marital-status')}}</label>
        <select name="maritalStatus" [(ngModel)]="data.jobDetailsDto.maritalStatus">
          <option value="">{{text('choose')}}</option>
          <option value="Не женат / Не замужем">{{text('notmarry')}}</option>
          <option value="Женат / Замужем">{{text('married')}}</option>
          <option value="Вдовец / Вдова">{{text('widow')}}</option>
          <option value="Разведен / Разведена">{{text('dismarry')}}</option>
          <option value="Гражданский брак">{{text('grazh')}}</option>
        </select>
      </div>

      <div class="label-input">
        <label>{{text('amoutchild')}}</label>
        <select name="numberOfKids" [(ngModel)]="data.jobDetailsDto.numberOfKids">
          <option value="">{{text('choose')}}</option>
          <option [value]="0">0</option>
          <option [value]="1">1</option>
          <option [value]="2">2</option>
          <option [value]="3">3</option>
          <option [value]="4">4</option>
        </select>
      </div>



      <button class="btn" type="submit">{{text('save')}}</button>
    </form>
  </div>
</ng-container>
