<ng-container *transloco="let text; read:'landing'">
  <main class="main" id="main">
    <div class="container">
      <div class="main-left">
        <h1>{{text('creditonline')}}<br>{{text('before')}}</h1>
        <ul>
          <li style="margin-bottom: 20px;">{{text('money')}} <a class="timer">{{ time }}</a></li>
          <li style="margin-bottom: 20px;">{{text('mindecision')}}</li>
          <li>{{text('per')}}</li>
        </ul>
        <div class="main-left-img">
          <picture class="desctop">
            <source type="image/webp" srcset="assets/img/home_logo.svg">
            <source type="image/jpeg" srcset="assets/img/home_logo.svg">
            <img src="assets/img/home_logo." id = "homelogo" alt="займы онлайн">
          </picture>
        </div>
      </div>
      <div class="main-right">
        <mfo-pdl-form></mfo-pdl-form>
      </div>
    </div>
  </main>

  <section class="why-we">
    <div class="container">
      <h1>{{text('whyus')}}</h1>
      <ul>
        <li>
          <div class="left"><img src="assets/img/Groupf.png" alt="займ онлайн казахстан" width="71" height="71"></div>
          <div class="right">
            <h2>{{text('everonline')}}</h2>
            <p>{{text('applicationuneed')}} <br>{{text('onlyinternet')}}</p>
          </div>
        </li>
        <li>
          <div class="left"><img src="assets/img/Group.png" alt="микрокредит без процентов" width="68" height="68"></div>
          <div class="right">
            <h2>{{text('simpledesign')}}</h2>
            <p>{{text('fillin7')}}</p>
          </div>
        </li>
        <li>
          <div class="left"><img src="assets/img/Group1.png" alt="займ онлайн кз" width="71" height="71"></div>
          <div class="right">
            <h2>{{text('flexibleterm')}}</h2>
            <p>{{text('2to12')}}</p>
          </div>
        </li>
        <li>
          <div class="left"><img src="assets/img/Vector.png" alt="кредит без подтверждения дохода" width="71" height="71">
          </div>
          <div class="right">
            <h2>{{text('convenientrepay')}}</h2>
            <p>{{text('payonline')}} <br>{{text('useterminal')}}</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="how-to-checkout" id="Checkout">
    <div class="container">
      <h1>{{text('getloan5')}}</h1>
      <p>{{text('applyloancard')}} <br>{{text('need')}}</p>
      <ul>
        <li>
          <picture>
            <source type="image/webp" srcset="assets/img/how1.webp">
            <source type="image/jpeg" srcset="assets/img/how1.png">
            <img src="assets/img/how1.png" alt="выгодный займ">
          </picture>
          <h4>{{text('submitapplication')}}</h4>
          <p>{{text('onwebphone')}}</p>
          <span>{{text('min1')}}</span>
        </li>
        <li>
          <picture>
            <source type="image/webp" srcset="assets/img/how2.webp">
            <source type="image/jpeg" srcset="assets/img/how2.png">
            <img src="assets/img/how2.png" alt="микрокредиты в казахстане">
          </picture>
          <h4>{{text('fillques')}}</h4>
          <p>{{text('quicklysimple')}}</p>
          <span>{{text('min5')}}</span>
        </li>
        <li>
          <picture>
            <source type="image/webp" srcset="assets/img/how3.webp">
            <source type="image/jpeg" srcset="assets/img/how3.png">
            <img src="assets/img/how3.png" alt="онлайн кредит на карту без отказа">
          </picture>
          <h4>{{text('getsolution')}}</h4>
          <p>{{text('notesms')}}</p>
          <span>{{text('min1')}}</span>
        </li>
        <li>
          <picture>
            <source type="image/webp" srcset="assets/img/how4.webp">
            <source type="image/jpeg" srcset="assets/img/how4.png">
            <img src="assets/img/how4.png" alt="онлайн микрокредит">
          </picture>
          <h4>{{text('collectmoney')}}</h4>
          <p>{{text('receiptcardonline')}}</p>
          <span>{{text('min1')}}</span>
        </li>
      </ul>
      <!-- <div class="btn" (click)="validateTime()" (click)="takeLoan()">{{text('loan')}}</div> -->
      <div class="btn" [routerLink]="['/']" fragment="main">{{text('loan')}}</div>
    </div>
  </section>

  <section class="how-to-repay" id="Repay">
    <div class="container">
      <div class="left">
        <h1>{{text('howrepayloan')}}</h1>
        <p>{{text('planned')}}</p>
        <ul>
          <li>
            <div class="top" (click)="show[4] = !show[4]">
              <p>{{text('returncredit')}} </p> <img src="assets/img/chev.svg" width="30" height="30" alt=""
                [class.open]="show[4]">
            </div>
            <div class="bottom" *ngIf="show[4]">
              <p>
                {{text('currentlypay')}}<br>
                {{text('attention')}} <br> <br>

                {{text('clickpay')}} <br>
                {{text('enternumberlast')}} <br>
                {{text('nextbutton')}} <br>
                {{text('paybutton')}} <br> <br>

                {{text('defpayment')}}
              </p>
            </div>
          </li>
        </ul>
      </div>
      <picture class="desctop">
        <source type="image/webp" srcset="assets/img/secondHomeLogo.svg">
        <source type="image/jpeg" srcset="assets/img/secondHomeLogo.svg">
        <img src="assets/img/secondHomeLogo.svg" id="secondHomeLogo" alt="получить займ">
      </picture>
    </div>
    <button (click)="payLoan()" class="btn" [routerLink]="['/payment']">{{text('repay')}}</button>
    <!-- <a [routerLink]="['/payment']" class="btn">Оплатить</a> -->
  </section>

  <section class="conditions" id="Conditions">
    <div class="container">
      <h1>{{text('uslovie')}}</h1>
      <ul>
        <li>
          <img src="assets/img/Group%2013743.png" width="60" height="60" alt="онлайн заявка на кредит">
          <p>{{text('maxsum')}} <br> 150 000 тенге</p>
        </li>
        <li>
          <img src="assets/img/Group%2013744.png" width="60" height="60" alt="деньги онлайн займ">
          <p>{{text('maxterm')}}<br>{{text('year')}}</p>
        </li>
        <li>
          <img src="assets/img/Group%2013745.png" width="60" height="60" alt="деньги до зарплаты без процентов">
          <p>{{text('kz')}}</p>
        </li>
        <li>
          <img src="assets/img/Group%2013746.png" width="60" height="60" alt="займ под 0 процентов">
          <p>{{text('21year')}}</p>
        </li>
        <li>
          <img src="assets/img/Group%2013747.png" width="60" height="60" alt="микро займ">
          <p>{{text('bankcard')}}</p>
        </li>
        <li>
          <img src="assets/img/Group%2013748.png" width="60" height="60" alt="взять кредит">
          <p>{{text('smartphone')}}</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="landing-bottom">
    <div class="container">
      <ul>
        <li>
          <h2>{{text('navi')}}</h2>
          <a [routerLink]="['/']" fragment="Checkout"><img src="assets/img/link.svg" width="16" height="16" alt="">
            {{text('howget')}}</a>
          <a [routerLink]="['/']" fragment="Repay"><img src="assets/img/link.svg" width="16" height="16" alt="">
            {{text('howrepay')}}</a>
          <a [routerLink]="['/']" fragment="Conditions"><img src="assets/img/link.svg" width="16" height="16" alt="">
            {{text('uslovii')}}</a>
        </li>
        <li>
          <h2>{{text('contacts')}}</h2>
          <a href="https://go.2gis.com/ldlhhy" target="_blank"><img src="assets/img/link4.svg" width="17" height="17"
              alt=""> г.Алматы, ул Толе Би 59</a>
          <a href="mailto:info@easymoney.kz"><img src="assets/img/link5.svg" width="16" height="16"
              alt="">info@easymoney.kz</a>
          <a href="tel:+7 777 010-58-00"><img src="assets/img/link3.svg" width="17" height="17" alt="">+7 (777)
            010-58-00</a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <p class="cpr">Copyright © 2022 KBTU</p>
  </footer>


  <div class="modal" *ngIf="modal">
    <div class="modal-content">
      <div class="modal-close" (click)="modal = false;">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.59 8L12 10.59L9.41 8L8 9.41L10.59 12L8 14.59L9.41 16L12 13.41L14.59 16L16 14.59L13.41 12L16 9.41L14.59 8ZM12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20Z"
            fill="black" />
        </svg>
      </div>
      <mfo-main-form></mfo-main-form>
    </div>
  </div>

</ng-container>
