// HEADER

header {
  background: #fff;
  margin-bottom: 35px;

  .ht {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;

    &-nav {
      display: flex;
      gap: 40px;
      font-size: 15px;
    }

    &-cabinet-nav {
      a {
        padding: 15px 13px;
        border-radius: 20px;
        display: flex;
        gap: 10px;

        &.active {
          background: #42A8FA;
          color: #fff;
          position: relative;

          &:after {
            position: absolute;
            content: '';
            bottom: -10px;
            left: calc(50% - 5px);
            border-top: 10px solid #42A8FA;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
          }
        }

        &.settings-page {
          background: transparent;
          color: #000;

          &:after {
            display: none;
          }
        }
      }
    }

    &-phone {
      display: flex;
      align-items: center;
      background: #42A8FA;
      border-radius: 0 0 20px 20px;
      color: #fff;
      padding: 11px 21px;
      gap: 18px;

      &:hover {
        img {
          animation: shake 0.5s;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;

        b {
          font-size: 15px;
          font-weight: normal;
          letter-spacing: 0.3px;
        }

        span {
          font-size: 11px;
          line-height: 15px;
          color: #E4E4E4;
        }
      }
    }
  }

  .hb {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-btns {
      // display: flex;
      gap: 23px;
      justify-content: flex-end;

      .hb-btn {
        cursor: pointer;
        border: 2px solid #34BE82;
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 19px;
        min-width: 142px;
        height: 56px;
        color: #34BE82;
        transition: all 0.2s ease-out;

        &:hover {
          background: #34BE82;
          color: #fff;
        }

        &:active {
          opacity: 0.8;
        }

        &.hb-login {
          color: #427BF6;
          border: 2px solid #427BF6;

          &:hover {
            background: #427BF6;
            color: #fff;
          }
        }
      }
    }
  }
}

.hb {
  .hb-btn {
    margin-left: 23px;
  }
}

.header-text {
  font-weight: 500;
}

.header-text:hover {
  color: #42A8FA;
}

.ru {
  margin-right: 10px;
  margin-left: 8px;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
}

.kz {
  margin-left: auto;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
}

.kz:active,
.ru:active {
  background-color: #42A8FA;
}

.kz:hover,
.ru:hover {
  background-color: #42A8FA;
}

.mobile-nav {
  display: none;
}
@media (max-width: 600px) {
  .container {
    padding: 5px;
  }

  .mobile-nav {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background: #fff;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    top: -100%;
    bottom: 100%;
    transition: all 0.3s ease-out;

    &.open {
      top: 0;
      bottom: 0;
    }

    a.active {
      color: #42A8FA;
    }
  }

  .mobile-nav li {
    margin-bottom: 12px;
  }

  .mobile-nav .close {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  header {
    margin: 0;
    padding: 10px 5px;

    .mob-nav {
      display: block;
    }

    .ht {
      display: none;
    }

    ul.ht-nav {
      position: fixed;
      left: 0;
      right: 0;
      top: 74px;
      background: #fff;
      display: block;
    }

    .hb-logo {
      font-weight: 600;
    }

    .hb {
      &-btns {
        display: flex;

        .hb-btn {
          text-align: center;
          font-size: 16px;
          min-width: inherit;
          padding: 5px;
          height: auto;
        }

        .hb-pay {
          // display: none;
        }
      }
    }
  }

  .hb {
    .hb-btn {
      margin-left: 4px;
    }
  }
}
@media (max-width: 600px) {
  .desctop {
    display: none;
  }
}
@media (max-width:400px) {
  header {
    .hb {
      &-btns {
        display: flex;
        gap: 8px;

        .hb-btn {
          font-size: 12px;
        }
      }
    }
  }
}
@media (max-width: 340px) {
  body {
    font-size: 14px;
  }

  header {
    .hb {
      &-btns {
        display: flex;
        gap: 8px;

        .hb-btn {
          font-size: 12px;
        }
      }
    }
  }
}
