.reset-pass-btn {
  display: inline-flex;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #42A8FA;
  cursor: pointer;
  margin-bottom: 16px;
}