<section class="profile-page">
  <div class="container">
    <form ngNativeValidate (ngSubmit)="loginUser()">
      <div class="form-top">
        <h2>Вход</h2>
      </div>
      <div class="label-input">
        <label for="">Мобильный телефон <i>*</i></label>
        <input type="tel" [unmask]="true" [imask]="{mask: '+{7}0000000000',lazy: false}" required [(ngModel)]="loginForm.username" name="username">
      </div>
      <div class="label-input">
        <label for="">Пароль:</label>
        <input type="password" name="password" required [(ngModel)]="loginForm.password">
      </div>
      <a class="reset-pass-btn" [routerLink]="['/profile/forgot-pass']">Забыли пароль?</a>

      <button class="btn" type="submit">Войти</button>
    </form>
  </div>
</section>
