<ng-container *transloco="let text; read: 'var'">
  <section class="veriface">
    <div class="container">
      <div class="top-info" id="vfInfo">
        <ng-container *ngIf="verifaceLoad">
          <h2>{{text('identification')}}</h2>
          <p><b>{{text('recommend')}}</b></p>
          <ul>
            <li>
              {{text('nomask')}}
            </li>
            <li>
              {{text('facelight')}}
            </li>
            <li>
              {{text('holdphone')}}
            </li>
            <li>
              {{text('camera')}}
            </li>
          </ul>
        </ng-container>
        <div class="btns">
          <button onclick="onInitButtonClick()"><span id="ChangeText" (click)="veriLive()">{{text('next')}}</span></button>
        </div>
      </div>
      <div class="top-info" [hidden]="true" id="NextShow">
        <div class="btns">
          <button class="btn" [disabled]="disabled" (click)="showSignUP()">
            <span>{{text('next')}}</span>
            <ng-container *ngIf="disabled">
              <div class="loader">
                <div class="lds-facebook">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </ng-container>
          </button>
        </div>
      </div>
      <div id="id_verilive" style="margin: auto;"></div>
      <textarea id="results" [hidden]="true" [(ngModel)]="vfImage"></textarea>
    </div>
  </section>
</ng-container>
