<ng-container *transloco="let text; read:'paymenttypes'">
  <div class="content">
    <h2 class="content-title">
      {{text('was')}}
    </h2>

    <h3><img src="assets/img/bytecoin.svg" id="eas1" alt=""> {{text('returncredit')}} </h3>
    <p>
      {{text('currentlypay')}} <br>
      {{text('attention')}} <br> <br>

      {{text('clickpay')}} <br>
      {{text('enternumberlast')}} <br>
      {{text('nextbutton')}} <br>
      {{text('paybutton')}} <br> <br>

      {{text('defpayment')}}
    </p>
  </div>
</ng-container>
