<ng-container *transloco="let text; read:'paymenttypes'">
  <div class="content">
    <h2 class="content-title">
      {{text('was')}}
    </h2>

    <h3><img src="assets/img/p1.svg" alt=""> {{text('returncredit')}} </h3>
    <p>
      {{text('currentlypay')}} <br>
      {{text('attention')}} <br> <br>

      {{text('clickpay')}} <br>
      {{text('enternumberlast')}} <br>
      {{text('nextbutton')}} <br>
      {{text('paybutton')}} <br> <br>

      {{text('defpayment')}}
    </p>

    <h3><img src="assets/img/p1.svg" alt=""> {{text('ewallet')}} </h3>
    <p>
      {{text('repayloan')}} <br><br>
      {{text('insite')}} <br>
      {{text('choocemfo')}} <br>
      {{text('enteriin')}}<br> <br>
      {{text('enterrepay')}} <br><br>

      {{text('loanacross')}}
    </p>

    <h3><img src="assets/img/p2.svg" alt=""> {{text('ewall')}} </h3>
    <p>
      {{text('forrepaycredit')}} <br><br>
      {{text('comesite')}} <br>
      {{text('choocepayin')}} <br>
      {{text('enterin')}} <br>
      {{text('entersum')}} <br><br>
      {{text('kom')}}
    </p>

    <h3><img src="assets/img/p2.svg" alt=""> {{text('terminals')}} </h3>
    <p>
      {{text('laonrepay')}} <br><br>
      {{text('kassa24')}} <br><br>
      {{text('repayterminal')}} <br><br>
      {{text('menu')}} <br>
      {{text('enterpay')}} <br>
      {{text('form')}} <br>
      {{text('nal')}} <br>
      {{text('check')}} <br><br>
      {{text('komservice')}}
    </p>
  </div>
</ng-container>
