<div class="content">
  <h2 class="content-title">
    Способы погашения микрокредита
  </h2>

  <h3><img src="assets/img/p1.svg" alt=""> Возврат микрокредита платежной картой </h3>
  <p>
    В настоящее время ТОО «МФО «Payintech» принимает платежи по картам платежных систем VISA и MasterCard. <br>
    Внимание: Вы можете использовать только свою собственную платежную карту при возврате микрокредита. Для оплаты с помощью платежной карты, необходимо выполнить следующие шаги: <br> <br>

    1. Нажмите на кнопку «Оплатить» в правом верхнем углу <br>
    2. Введите номер телефона, фамилию заемщика, сумму для оплаты  <br>
    3. Нажмите на кнопку «Далее» <br>
    4. Введите данные карты и нажмите на кнопку «Оплатить» <br> <br>

    По умолчанию, в данном поле ввода будет указана сумма ежемесячного платежа. 
  </p>

  <h3><img src="assets/img/p1.svg" alt=""> Электронный кошелек (Без комиссий)</h3>
  <p>
    Для погашения микрокредита через электронный кошелек PITECH: <br><br>
    1) Зайдите на сайт https://money.pitech.kz/. <br>
    2) Выберите «МФО Payintech - плановый платеж». <br>
    3) Введите ИИН и выберите микрокредит, который хотите погасить. <br>
    4) Введите сумму и нажмите «Оплатить»* <br>
    <br>
    *Погашение займа через электронный кошелек PITECH – бесплатно.
  </p>

  <h3><img src="assets/img/p2.svg" alt=""> Электронный кошелек</h3>
  <p>
    Для погашения микрокредита через электронный кошелек: <br><br>
    1) Зайдите на сайт сервиса. <br>
    2) Выберите «Payintech – плановый платеж». <br>
    3) Введите ИИН и выберите микрокредит, который хотите погасить. <br>
    4) Введите сумму и нажите «Оплатить»* <br><br>
    *Комиссии за погашение взимаются сервисом отдельно.
  </p>

  <h3><img src="assets/img/p2.svg" alt=""> Терминалы</h3>
  <p>
    Pitech.kz предлагает возможность погашать займы через терминалы Касса 24. <br><br>
    Касса 24 имеет широкую терминальную сеть по всему Казахстану в 17 000 терминалов. <br><br>
    Для погашения микрокредита через терминал: <br><br>
    1) В меню терминала перейдите в раздел «Финансовые организации» <br>
    2) Выберите «Payintech – плановый платеж». <br>
    3) Заполните форму оплаты. <br>
    4) Внесите наличные в купюроприемник*. <br>
    5) Заберите чек <br><br>
    *Комиссии за погашение взимаются сервисом отдельно.
  </p>
</div>