<ng-container *transloco="let t; read:'main-form'">
  <form ngNativeValidate (ngSubmit)="createRequest()" class="form-calculate">
    <h2>{{t('GetCredit')}}</h2>
    <div class="custom-slider">
      <div class="slider-info">
        <p>{{t('TermCredit')}}</p>
        <span>{{ form.period }} {{t('day')}}</span>
      </div>
      <ngx-slider (userChange)="calculateForm()" [(value)]="form.period" [options]="monthOptions"></ngx-slider>
      <div class="month-bottom">
        <p (click)="form.period = 10;calculateForm()">{{t('10days')}}</p>
        <p (click)="form.period = 20;calculateForm()">{{t('20days')}}</p>
        <p (click)="form.period = 30;calculateForm()">{{t('30days')}}</p>
      </div>
    </div>
    <div class="custom-slider">
      <div class="slider-info">
        <p>{{t('AmountCredit')}}</p>
        <span>{{ form.amount | currency: 'CLP':'₸' }} </span>
      </div>
      <ngx-slider (userChange)="calculateForm()" [(value)]="form.amount" [options]="priceOptions"></ngx-slider>
      <div class="month-bottom">
        <p (click)="form.amount = 10000;calculateForm()" style="min-width: 80px;">10 000 ₸</p>
        <p (click)="form.amount = 80000;calculateForm()">80 000 ₸</p>
        <p (click)="form.amount = 150000;calculateForm()">150 000 ₸</p>
      </div>
    </div>
    <div class="form-monthly">
      <p class="interest-sum">{{t('interest')}}</p>
      <b>{{ paymentPerMonth | currency: 'CLP':'₸' }}</b>
    </div>
    <button id="theButton" class="submit-button" type="submit" (click)="validateTime()">{{t('Receive')}}</button>
    <p class="small-text">*Расчет калькулятора произведен по ставкам, действующим при условии оформления финансовой защиты к микрокредиту. Не является публичной офертой.</p>
  </form>
</ng-container>