<!-- <button class="kz" (click)="update()">kz</button>
<button class="ru" (click)="date()">ru</button> -->
<mfo-header></mfo-header>
<router-outlet></router-outlet>
<div class="float" *ngIf="contact">
  <div class="links" [@popOverState]="stateName">
    <a href="https://t.me/zaimemkz_bot" target="_blank"><img src="../assets/img/telegram.png" width="50"></a>
    <a href="https://wa.me/+77770105800" target="_blank"><img src="../assets/img/whatsapp.png" width="50"></a>
  </div>
  <button (click)="toggle()"><img src='../assets/img/{{img}}' width="70" /></button>
</div>
