<ng-container *transloco="let text; read:'contacts'">
  <div class="content">
    <h2 class="content-title">{{text('contact')}}</h2>
    <ul>
      <li>
        <img src="assets/img/contact-ico-1.svg" alt="">
        <div class="right">
          <p>{{text('tel')}}</p>
          <a href="tel:+7 700 000 25 33">+7 (700) 000-25-33</a>
        </div>
      </li>
      <li>
        <img src="assets/img/contact-ico-2.svg" alt="">
        <div class="right">
          <p>{{text('email')}}</p>
          <a href="mailto:info@easymoney.kz">info@easymoney.kz</a>
        </div>
      </li>
      <li>
        <img src="assets/img/contact-ico-3.svg" alt="">
        <div class="right">
          <p>Адрес</p>
          <span>г. Алматы, ул. Толе Би 59</span>
        </div>
      </li>
    </ul>
  </div>
</ng-container>
