.content ul li {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  cursor: pointer;
  padding: 21px 0 18px;
  border-bottom: 1px solid #CCC9C9;
  .center{
    span{
      color: rgba(0, 0, 0, 0.6);
    }
    p{

    }
  }
  .right {
    margin-left: auto;
    text-align: right;
    p{
      font-weight: 600;
    }
    .status{
      color: rgba(0, 0, 0, 0.2);
      &.REJECTED,
      &.EXPIRED{
        color: #FB4B4B;
      }
      &.CASHED_OUT_WALLET,
      &.CASHED_OUT_CARD,
      &.CLOSED,
      &.PAID{
        color: #34BE82;
      }
      &.APPROVED,
      &.PENDING,
      &.NEW{
        color: blue;
      }
    }
  }
}
.btn {
  display: inline-flex;
  border:none;
  background: #42A8FA;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
  &.btn-default{
    background: rgba(0, 0, 0, 0.1);
    color: #000000;
    letter-spacing: -0.3px;
  }
}
.modal-v{
  position: relative;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 40px;
  max-width: 400px;
  h2{
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #42A8FA;
    margin-bottom: 5px;
  }

  p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .text-center {
    margin: 20px 0 12px;
    text-align: center;
  }

  .text-center .link {
    text-decoration: underline;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    cursor: pointer;
  }
}

.empty{
  font-size: 20px;
  color: #000;
  opacity: 0.3;
  text-align: center;
  border: 1px dashed;
  padding: 40px;
  margin-top: 40px;
}

.pagination ol {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  li {
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    &.active{
      background: rgba(46,58,89,.12);
    }
  }
}

.top{
  .dates{
    display: flex;
    justify-content: flex-end;
    gap:24px;
    input{
      margin-left: 10px;
      border: 1px solid #ccc;
      padding: 3px 12px;
      border-radius: 8px;
    }
  }
}

@media (max-width: 600px){
  .top{
    .dates{
      flex-wrap: wrap;
    }
  }
}