<ng-container *transloco="let text; read:'cashed-out'">
  <div class="content" *ngIf="loan">
    <h2 class="content-title">{{text('open')}}</h2>
    <ng-container *ngIf="loan.hasActiveLoan">
      <p><b>{{text('num')}}</b> №{{ loan.orderDetailsSchedule?.contract }}</p>
      <p><b>{{text('month')}}</b> {{ loan.orderDetailsSchedule?.monthPayment| currency: '':'₸' }}</p>
      <p><b>{{text('sum')}}</b> {{ loan.orderDetailsSchedule?.totalAmount | currency: '':'₸' }}</p>
      <p><b>{{text('date')}}</b> {{ loan.orderDetailsSchedule?.contractDate | date }}</p>
      <p><b>{{text('term')}}</b> {{ loan.orderDetailsSchedule?.period }} дней</p>
      <p><b>{{text('loan')}}</b> {{ loan.orderDetailsSchedule?.amountRemain | currency: '':'₸' }}</p>
      <p><b>{{text('period')}}</b> {{ loan.orderDetailsSchedule?.amountOverPayment | currency: '':'₸' }}</p>
      <br>
      <h2 class="content-title">{{text('gra')}}</h2>
      <div class="overflow-table">
        <table>
          <thead>
            <tr>
              <th>№</th>
              <th>{{text('data')}}</th>
              <th>{{text('payment')}}</th>
              <th>{{text('pro')}}</th>
              <th>{{text('ost')}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of loan?.orderDetailsSchedule?.scheduleItems">
              <td>{{ item.number }}</td>
              <td>{{ item.paymentDate | date }}</td>
              <td>{{ item.amountToBePaid | currency: '':'₸' }}</td>
              <td>{{ item.reward }}</td>
              <td>{{ item.totalAmountDebt  | currency: '':'₸'}}</td>
            </tr>
            <tr *ngIf="!this.loan.hasActiveLoan">
              <td colspan="5">
                <p class="info-text">{{text('no-loan')}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    <ng-container *ngIf="!loan.hasActiveLoan">
      <!-- {{ loan.message }} -->
      {{text('no-loan')}}
    </ng-container>
  </div>
</ng-container>
