<div class="content">
  <h2 class="content-title">Открытый микрокредит</h2>
  <p><b>Номер договора:</b> №1300792001700314</p>
  <p><b>Ежемесячный платеж:</b> 20 832.92 ₸</p>
  <p><b>Сумма кредита:</b> 499 990 ₸</p>
  <p><b>Дата получения:</b> 13 июля 2021</p>
  <p><b>Срок кредита:</b> 12 месяца</p>
  <p><b>Остаток по займу:</b> 299 157.08 ₸</p>
  <p><b>Переплата за весь период:</b> 0 ₸</p>
  <br>
  <h2 class="content-title">График погашения</h2>

  <table>
    <thead>
      <tr>
        <th>№</th>
        <th>Дата</th>
        <th>Платеж</th>
        <th>Проценты</th>
        <th>Остаток</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>28.02.2022</td>
        <td>95 833.33</td>
        <td>12 500</td>
        <td>500 000</td>
      </tr>
    </tbody>
  </table>
</div>